@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import "../../../styles.scss";


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid black;
  background-color: $deep-purple;
  padding: 10px;

  h2 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: white;
    text-shadow: gray;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 60%;
    position: relative; 

    .searchArea {
      fa-icon {
        position: absolute;
        top: 35%;
        left: 18%;
        z-index: 10;
        color: $deep-purple;
      }

      input.search-bar {
        height: 70%;
        width: 70%;
        border-radius: 10px;
        align-self: center;
        padding: 0 10%;
      }
    }
  }
}