@import "../../../styles.scss";

$searchbar-height: 80%;
$searchbar-width: 120%;

.searchArea {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: space-between;
  position: relative;

  fa-icon {
    position: absolute;
    top: calc(#{$searchbar-height}*0.45);
    left: calc(#{$searchbar-width}*0.02);
    z-index: 10;
    color: $deep-purple;
  }

  input.search-bar {
    height: $searchbar-height;
    width: $searchbar-width;
    border-radius: 10px;
    justify-self: center;
    padding: 0 calc(#{$searchbar-width}*0.1);
  }
}
