@import "../../../styles.scss";

$searchbar-height: 40px;
$searchbar-width: 250px;

.searchArea {

  fa-icon {
    position: absolute;
    top: calc(#{$searchbar-height}*0.3);
    // left: 10.5%;
    left: calc(#{$searchbar-width}*0.3);
    z-index: 10;
    color: $deep-purple;
  }

  input.search-bar {
    height: $searchbar-height;
    width: $searchbar-width;
    border-radius: 10px;
    align-self: center;
    padding: 0 10%;
  }
}
