@import "../../../styles.scss";

// select {
//   margin: $base-spacing;
//   padding: $base-spacing/2;
//   width: 100px;
//   height: $searchbar-height;
//   align-self: left;
//   border-radius: $base-spacing;

//   option {
//     width: 100px;
//     border-radius: $base-spacing;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
// }

.selector {
  ul {
    background-color: white;
    margin: $base-spacing;
    padding: $base-spacing/2;
    width: 100px;
    height: $searchbar-height;
    align-self: left;
    border-radius: $base-spacing;
    position: relative;
    text-align: right;

    li {
      position: absolute;
      top: $searchbar-height;
      width: 100%;
      border-radius: $base-spacing;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
