@import "../../../styles.scss";

.selector {
  position: relative;
  background-color: white;
  margin: $base-spacing;
  padding: $base-spacing/2;
  width: 100px;
  height: $searchbar-height;
  align-self: left;
  border-radius: $base-spacing;
  text-align: right;
  z-index: 4;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;

  p {
    display: flex;
    justify-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul {
    position: absolute;
    top: $searchbar-height;
    left: 0;
    width: 100%;
    background-color: inherit;
    border-radius: $base-spacing;
    font-size: 14px;

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      padding: 0 $base-spacing/2;

      &:hover {
        background-color: rgba($color: $pearl-aqua, $alpha: 0.5) ;
      }
    }
  }
}
